<!DOCTYPE html>
<html>
<head>
  <title>Birthday Reminder</title>
</head>
<body>
  <h1>🎂 Birthday Reminder App</h1>
  <ul>
    <li><a href="/signup">Signup</a></li>
    <li><a href="/login">Login</a></li>
  </ul>
</body>
</html>